*{
	padding: 0;
	margin: 0;
	font-family: 'exo', sans-serif;
}

body{
	display: grid;
	place-items: center;
	height: 100vh;
	background: #d4e0ee;
}
#container{
	height: auto;
	width: auto;
}

/* start*/
#start{
	height: 70px;
	width: 250px;
	text-align: center;
	padding: 20px 0;
	background: #e7f1fa;
	color: #000;
	font-size: 23px;
	font-weight: 700;
	border-radius: 30px 10px;
	border: 2px solid red;
	cursor: pointer;
	display: none;@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

	* {
		margin: 0px;
		padding: 0px;
		font-family: 'Poppins', sans-serif;
	}
	
	.playGround {
		border-radius: 50px;
		background-color: rgba(45, 226, 45, 0.411);
		padding: 3%;
	}
	
	.playGround .form-control {
		margin: 10px 0px;
	}
	
	.boxOfQuiz {
		border: 1px solid rgba(0, 0, 0, 0.651);
		border-radius: 20px;
		padding: 2%;
		margin: 2% 0%;
	}
	
	.question {
		background: transparent;
		border: none;
		border-bottom: 1px solid black;
		transition: background border 0.25s ease-in;
	}
	
	.question:focus {
		background: rgba(71, 47, 47, 0.219);
		box-shadow: none;
		outline: none;
		border: none;
		border-bottom: 1px solid rgb(17, 0, 255);
	}
	
	.answerofQuizQuestion {
		background: transparent;
		border: none;
		border-bottom: 1px solid black;
		transition: background border 0.25s ease-in;
	}
	
	.answerofQuizQuestion:focus {
		background: rgba(158, 148, 148, 0.219);
		box-shadow: none;
		outline: none;
		border: none;
		border-bottom: 1px solid rgb(0, 255, 255);
	}
	
	.optionOfQuiz {
		background: transparent;
		border: none;
		border-radius: 0px;
		border-left: 3px solid rgb(0, 247, 255);
		transition: border 0.1s ease-in;
	}
	
	.optionOfQuiz:focus {
		background: rgba(158, 148, 148, 0.219);
		box-shadow: none;
		outline: none;
		border: none;
		border-radius: 10px;
		border-left: 10px solid rgb(0, 247, 255);
	}
}

#start:hover{
	background: gray;
	color: yellow;
}

/*guide*/
#guide,#quiz{
	height: auto;
	width: 580px;
	padding: 20px;
	background: gray;
	border-radius: 30px 10px;
	border: 1px solid firebrick;
	
}	

  #guide h1{
	 font-size: 60px;
	 color: darkblue;

  }


  #guide h4{
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 20px;
  }

  #guide #button{
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: flex-end;	
  }

  #guide #button button{
	height: 50px;
	width: 120px;
	margin: 10px 25px;
	border: none;
	outline: none;
	color: tan;
	background: #ff5235;
	border: 1px solid teal;
	border-radius: 20px 5px;
	font-size:  18px;
	cursor: pointer;
  }

  #guide #button button:last-child{
	margin: 10px 0 ;
  }
 
  #guide #button button:hover{
	 background: white;
  }


/*quiz*/
#quiz{
	display: block;
	height: 480px;
	position: relative;
}

#quiz #quiz_header{
	height: 60px;
	width: 100%;
	background: #fafafc;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	border-radius: 30px 0;
}

#quiz #quiz_header h1{
	       	font-size: 28px;
			 	margin: 0 20px;
				color: #ff5235;
}

#quiz #quiz_header #timer {
	height: 50px;
	width: 200px;
	background: #ff5235;
	color: #e7f1fa;
	border: 1px solid #b0c4d8;
	font-size: 18px;
	border-radius: 20px 5px;
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 10px;
}		

#quiz #quiz_header #timer h6{
	font-size: 20px;
     display: grid;
	 place-items: center;
	 color: #fff;
	 margin: 0 10px;	
}

#quiz #quiz_header #timer  #timer{
	height: 44px;
	width: 50px;
     background: #fff;
	 color: #f69d9e;
	 border: 1px solid #b0c4b8;
	 border-radius: 15px 7px;
	 margin: 2px 0 0 27px;
}


/*Quiz Question*/
#quiz #question{
	position: absolute;
	top: 90px;
	display: flex;
	flex-direction: row ;

}

#quiz #question h2{
	font-size: 27px;
}

